.chart-panel {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0rem;
}

.chart-card.professional {
  background-color: #1e1e1e;
  padding: 2rem;
  margin: 2rem auto;
  margin-bottom: 2em;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.chart-card.professional:hover {
  transform: translateY(-2px);
}

.chart-title {
  font-size: 1.8rem;
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 1.2rem;
  font-weight: 600;
}

.pie-title {
  font-size: 1.2rem;
  color: #f0f0f0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.chart-panel-wrapper {
  position: relative;
  padding: 1rem;
}

@media (max-width: 768px) {
  .chart-card.professional {
    padding: 0.5rem 0rem 0rem 0rem;
    margin: rem 0rem;
  }

  .chart-title {
    font-size: 1.4rem;
  }

  .chart-panel-wrapper {
    padding: 1rem 0rem;
  }
}
