@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");

body {
  position: relative;
  margin: 0;
  font: 100%/1 system-ui;
  background: #fff;
  user-select: none;
}

main {
  transition: 0.4s ease-in-out;
}

body.footer-pull main {
  transform: translateY(-300px) scale(0.95);
  transform-origin: bottom center;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
}

.animated-footer {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  background: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 8em;
  padding-right: 8em;
  font-family: "Ubuntu Mono", sans-serif;
}

.animated-footer a {
  text-decoration: none;
  color: #3b62cf;
}

.animated-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .animated-footer {
    padding: 0rem 1rem 2rem 1rem;
    font-size: 14px;
  }

  .animated-footer p {
    margin: 0.5rem 0;
  }
}
